*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: radial-gradient(ellipse at bottom, #211134 0%,#090a0f 100%);
    min-height: 100vh;
}
header{
    position: absolute;
    top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 90px;
    padding: 5px;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    border-top: 1px solid rgba(255,255,255,0.1);
    border-bottom: 1px solid rgba(255,255,255,0.1);
    border-radius: 30px;
}
.container{
    position: relative;
    display: flex;
    width: 100%;
    height: 55px;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    border-top: 1px solid rgba(255,255,255,0.1);
    border-bottom: 1px solid rgba(255,255,255,0.1);
    border-radius: 30px;
    backdrop-filter: blur(15px);
}
.box{
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 120px;
    height: 60px;
    color: white;
}
#img{
    margin-left: 5px;
    margin-right: 5px;
    width: 50px;
    height: 50px;
}
.usuario{
    position: relative;
    display: flex;
    text-align: left;
    width: 100px;
    height: 20px;
}
#sair{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    border-top: 1px solid rgba(255,255,255,0.1);
    border-bottom: 1px solid rgba(255,255,255,0.1);
    border-radius: 30px;
    width: 40px;
    height: 40px;
    margin-top: 7px;
}
a{
    color: aliceblue;
    text-decoration: none;
}
.section{
    position: absolute;
    top: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 400px;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    border-top: 1px solid rgba(255,255,255,0.1);
    border-bottom: 1px solid rgba(255,255,255,0.1);
    border-radius: 30px;
    padding: 10px;
}
h1{
    position: absolute;
    left: 50%;
    top: 15px;
    transform: translateX(-50%);
}
.card{
    position: relative;
    width: 70%;
    height: 70px;
    margin-top: 80px;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    border-top: 1px solid rgba(255,255,255,0.1);
    border-bottom: 1px solid rgba(255,255,255,0.1);
    border-radius: 30px;
    transition: 0.5s;
    
}
.card:hover{
    height: 90px;
}
.ImgBox{
    position: absolute;
    left: 50%;
    top: -50px;
    transform: translateX(-50%);
    width: 40px;
    height: 40px;
    overflow: hidden;
    transition: 0.5s;
}
.card:hover .ImgBox{
    width: 45px;
    height: 45px;
}
.ImgBox img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.card .content{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    overflow: hidden;
}
.card .content .details{
    padding: 20px;
    text-align: center;
    width: 100%;
    margin: 15px;
    transition: 0.5s;
    transform: translateY(70px);
}
.card:hover .content .details{
    transform: translateY(20px);
}
.card .content .details h2{
    font-size: 1.0em;
    font-weight: 600;
    color: #fff;
    line-height: 1.2em;
}
.card .content .details h2 span{
    font-size: 0.75em;
    font-weight: 500;
    margin-bottom: 20px;
    
}
.card .content .details .actionBtn{
    display: flex;
    justify-content: center;
}

.card .content .details .actionBtn button{
    padding: 10px 30px;
    border-radius: 5px;
    border: none;
    outline: none;
    font-size: 1em;
    font-weight: 500;
    background: #ff5f95;
    color: #fff;
    cursor: pointer;
}