*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    background: #2f363e;
    overflow: hidden;
}
#welcome{
    position: relative;
    display: flex;
    justify-content: center;
    padding: 5px;
    margin: 20px;
    background: gray;
    border-radius: 15px;
}
#container{
    position: relative;
    width: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: gray;
    border-radius: 15px;
    margin-bottom: 5px;
    padding: 5px;
}
img{
    width: 30px;
    height: 30px;
    margin-bottom: 10px;
}
a{
    color: #fff;
}