@import url('https://fonts.googleapis.com/css2? family= Noto+Serif+Gujarati:wght@100 &family= Open+Sans:ital,wght@1.300 &família= Poppins:wght@200 & display=swap');

*{
    margin: 0;
    padding: 0;
    font-size: 100%;
    font-weight: 300;
    font-family: monospace;
    box-sizing: border-box; 
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #2f363e;
}
header{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    top: 0px;
}
hr{
    position: absolute;
    top: 51px;
    height: 1px;
    width: 100%;
    background: gray;
}
.dropdown{
    position: relative;
    width: 130px;
    height: 40px;
    margin-left: 10px;
}
.dropdown::before{
    content: '';
    position: absolute;
    right: 15px;
    top: 10px;
    z-index: 1000;
    width: 8px;
    height: 8px;
    border: 2px solid #333;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    transform: rotate(-45deg);
    transition: 0.5s;
    pointer-events: none;
}
.dropdown.active::before{
    top: 18px;
    transform: rotate(-225deg);
}
.dropdown input{
    position: absolute;
    top: 0;
    left: 0;
    width: 130px;
    height: 100%;
    cursor: pointer;
    background: #fff;
    border: none;
    outline: none;
    box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.25),
    inset 2px 2px 5px rgba(0, 0, 0, 0.35),
    inset -3px -3px 5px rgba(0, 0, 0, 0.5);
    padding: 18px 25px;
    border-radius: 10px;
}
.dropdown .option{
    position: absolute;
    top: 70px;
    width: 100%;
    background: #fff;
    box-shadow: 0 30px 30px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    overflow: hidden;
    display: none;
}
.dropdown.active .option{
    display: block;
    z-index: 10000;
}
.dropdown .option div{
    padding: 12px 20px;
    cursor: pointer;
}
.dropdown .option div:hover{
    background: purple;
    color: #fff;
}
.dropdown .option div ion-icon{
    position: relative;
    top: 4px;
    font-size: 1.2em;
}
.imgLegue{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 66px;
    height: 69px;
    top: 70px;
    z-index: 1;
}
img{
    animation: flutuacao 2.5s ease-in-out infinite;
}
@keyframes flutuacao{
    0%, 100%{
        transform: translateY(0px);
    }50%{
        transform: translateY(-16px);
    } 
}
.legendaImg{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 30px;
    top: 135px;
    color: #fff;
    background: purple;
    box-shadow: 25px 25px 75px rgba(0, 0, 0, 0.25),
    10px 10px 70px rgba(0, 0, 0, 0.25),
    inset 5px 5px 10px rgba(0, 0, 0, 0.5),
    inset 5px 5px 20px rgba(255, 255, 255, 0.2),
    inset -5px 5px 15px rgba(0, 0, 0, 0.75);
    border-radius: 15px;
    font-size: 12px;
}
#iframe{
    position: absolute;
    top: 170px;
    width: 50vh;
    height: 56vh;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    padding: 5px;
    backdrop-filter: blur(25px);
}
.navigation{
    width: 100%;
    height: 65px;
    box-shadow: 25px 25px 75px rgba(0, 0, 0, 0.25),
    10px 10px 70px rgba(0, 0, 0, 0.25),
    inset 5px 5px 10px rgba(0, 0, 0, 0.5),
    inset 5px 5px 20px rgba(255, 255, 255, 0.2),
    inset -5px 5px 15px rgba(0, 0, 0, 0.75);
    position: absolute;
    bottom: 0;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
.navigation li{
    position: relative;
    list-style: none;
    width: 20px;
    margin: 0 30px;
}
.navigation li::before{
    content: '';
    position: absolute;
    top: 25px;
    left: 50%;
    transform: translateX(-50%);
    width: 5px;
    height: 5px;
    background: #222;
    border-radius: 50%;
    transition: 0.5s;
}
.navigation li.active::before{
    background: #0f0;
    box-shadow: 0 0 2px #0f0,
    0 0 10px #0f0,
    0 0 20px #0f0,
    0 0 30px #0f0,
    0 0 40px #0f0,
    0 0 50px #0f0;
}
.navigation li a{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-decoration: none;
}
.navigation li a .icon{
    position: absolute;
    font-size: 1.75em;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #aaa;
    border-radius: 50%;
    transition: 0.5s;
    transition-delay: 0.2s;
}
.navigation li.active a .icon{
    background: #29fd53;
    color: #fff;
    transform: translateY(-55px);
    box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.25),
    inset 2px 2px 5px rgba(255, 255, 255, 0.25),
    inset -3px -3px 5px rgba(0, 0, 0, 0.5);
    transition-delay: 0s;
}
.navigation li a .icon::before{
    content: '';
    position: absolute;
    inset: 5px;
    background: #2f363e;
    border-radius: 50%;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25),
    inset 2px 2px 3px rgba(255, 255, 255, 0.25),
    inset -3px -3px 5px rgba(0, 0, 0, 0.5);
    transform: scale(1);
    transition: 0.5s;
}
.navigation li a .icon::before{
    transform: scale(1);
}
.navigation li a .text{
    position: absolute;
    font-size: 0.75em;
    color: #2f363e;
    opacity: 0;
    border-radius: 15px;
    transform: translateY(10px);
    padding: 2px 10px;
    background: #fff;
    box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.25),
    inset -3px -3px 5px rgba(0, 0, 0, 0.5);
    transition: 0.5s;
    transition-delay: 0s;
}
.navigation li.active a .text{
    opacity: 1;
    transform: translateY(5px);
    transition-delay: 0.2s;
}
@keyframes animate{
    0%{
        box-shadow: 0 0 0 rgba(255, 0, 0, 0.5);
        opacity: 0;
        transform: translateX(-50px) scale(1);
    }
    50%{
        box-shadow: 0 20px 50px rgba(0, 0, 255, .5);
        opacity: 1;
        transform: translateX(0px) scale(1.2);

    }
    100%{
        box-shadow: 0 0 0 rgba(0, 0, 255, .5);
        opacity: 0;
        transform: translateX(50px) scale(1);

    }
}