*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}
body{
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../img/imgbody.jpg);
    background-size: cover;
}
header{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 20px;
    width: 205px;
    height: 50px;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    border-top: 1px solid rgba(255,255,255,0.1);
    border-bottom: 1px solid rgba(255,255,255,0.1);
    border-radius: 30px;
    color: black;
    font-size: 16px;
    backdrop-filter: blur(15px);
}
header:hover{
    font-size: 22px;
    transition: 0.5s;
}
#key{
    color: purple;
    font-weight: bold;
    font-size: 20px;
    transition: 0.5s;
}
.container{
    position: relative;
    width: 350px;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    border-top: 1px solid rgba(255,255,255,0.1);
    border-bottom: 1px solid rgba(255,255,255,0.1);
    border-radius: 50px;
    backdrop-filter: blur(10px);

}
form{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.container h3{
    color: #fff;
    font-weight: 600;
    font-size: 1.3em;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    letter-spacing: 1px;
}
.inputBox{
    position: relative;
    width: 80%;
    margin-bottom: 25px;
}
.inputBox span{
    display: inline-block;
    color: #fff;
    margin-bottom: 30px;
    letter-spacing: 1px;
    font-size: 0.75em;
    border-left: 4px solid yellow;
    padding-left: 4px;
    line-height: 1em;
}
.inputBox .box{
    display: flex;
    justify-content: center;
    align-items: center;
}
.inputBox .box input{
    position: relative;
    width: 90%;
    border: none;
    outline: none;
    padding: 10px 20px;
    border-radius: 30px;
    font-size: 0.85em;
    color: #fff;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    border-top: 1px solid rgba(255,255,255,0.1);
    border-bottom: 1px solid rgba(255,255,255,0.1);
    border-radius: 30px;
    transition: 0.5s;
}
.inputBox .box input:hover{
    width: 100%;
    letter-spacing: 2px;
}

.inputBox .box input::placeholder{
    color: white;
}
.inputBox .box input[type="submit"]{
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    border-top: 1px solid rgba(255,255,255,0.1);
    border-bottom: 1px solid rgba(255,255,255,0.1);
    color: white;
    cursor: pointer;
    font-size: 12px;
    transition: 0.5s;
}
.inputBox .box input[type="submit"]:hover{
    color: black;
    background: darkcyan;
    font-weight: 800;
    width: 120px;
    letter-spacing: 2px;
}
select{
    padding: 4px;
    color: white;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    border-top: 1px solid rgba(255,255,255,0.1);
    border-bottom: 1px solid rgba(255,255,255,0.1);
    border-radius: 30px;
    backdrop-filter: blur(10px);
}
select option{
    color: gray;
}
label{
    color: #fff;
    font-size: 0.85em;
    letter-spacing: 1px;
    display: flex;
    align-items: center;
}
label input{
    margin-right: 5px;
}
.forgot{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 0.90em;
    text-decoration: none;
    transition: 0.5s;
}

.forgot:hover{
    font-size: 0.95em;
    letter-spacing: 2px;
}
.container .btn{
    position: relative;
    width: 245px;
    height: 50px;
    margin: 20px;
}
.container .btn a{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    border-top: 1px solid rgba(255,255,255,0.1);
    border-bottom: 1px solid rgba(255,255,255,0.1);
    border-radius: 30px;
    color: #fff;
    letter-spacing: 1px;
    overflow: hidden;
}
span{
    position: absolute;
    text-align: center;
    bottom: 10px;
    color: yellow;
    font-size: 11px;
}





