@import url('https://fonts.googleapis.com/css2? family= Noto+Serif+Gujarati:wght@100 &family= Open+Sans:ital,wght@1.300 &família= Poppins:wght@200 & display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #2f363e;
    overflow: hidden;
}
.container{
    position: absolute;
    width: 350px;
    min-height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    padding: 50px;
}
form{
    position: relative;
    width: 100%;
}
.container h3{
    color: #fff;
    font-weight: 600;
    font-size: 2em;
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.inputBox{
    position: relative;
    width: 100%;

}
.inputBox span{
    display: inline-block;
    color: #fff;
    margin-bottom: 10px;
    letter-spacing: 1px;
    font-size: 0.75em;
    border-left: 4px solid #fff;
    padding-left: 4px;
    line-height: 1em;
}
.inputBox .box{
    display: flex;
}
.inputBox .box .icon{
    position: relative;
    min-width: 40px;
    height: 40px;
    background: #0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-right: 10px;
    color: #2f363e;
    font-size: 1.15em;
    box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.25),
    inset 2px 2px 5px rgba(255, 255, 255, 0.25),
    inset -3px -3px 5px rgba(0, 0, 0, 0.5);
}
.inputBox .box input{
    position: relative;
    width: 100%;
    border: none;
    outline: none;
    padding: 10px 20px;
    border-radius: 30px;
    letter-spacing: 1px;
    font-size: 0.85em;
    box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.25),
    inset 2px 2px 5px rgba(0, 0, 0, 0.35),
    inset -3px -3px 5px rgba(0, 0, 0, 0.5);
}
.inputBox .box input[type="submit"]{
    background: #1f83f2;
    box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.25),
    inset 2px 2px 5px rgba(255, 255, 255, 0.35),
    inset -3px -3px 5px rgba(0, 0, 0, 0.5);
    color: #fff;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 600;
}
.inputBox .box input[type="submit"]:hover{
    filter: brightness(1.1);
}
.BarraLogin{
    position: relative;
    display: flex;
}
.BarraLogin span{
    width: 50px;
    height: 600px;
    margin: 0 20px;
    background: #2f363e;
    animation: animate 2.4s linear infinite;
}
.BarraLogin span:nth-child(1){
    animation-delay: 0s;
}
.BarraLogin span:nth-child(2){
    animation-delay: 0.2s;
}
.BarraLogin span:nth-child(3){
    animation-delay: 0.4s;
}
.BarraLogin span:nth-child(4){
    animation-delay: 0.6s;
}
.BarraLogin span:nth-child(5){
    animation-delay: 0.8s;
}
.BarraLogin span:nth-child(6){
    animation-delay: 1s;
}
.BarraLogin span:nth-child(7){
    animation-delay: 1.2s;
}
.BarraLogin span:nth-child(8){
    animation-delay: 1.4s;
}
@keyframes animate{
    0%{
        box-shadow: 0 0 0 rgba(255, 0, 0, 0.5);
        opacity: 0;
        transform: translateX(-50px) scale(1);
    }
    50%{
        box-shadow: 0 20px 50px rgba(0, 0, 255, .5);
        opacity: 1;
        transform: translateX(0px) scale(1.2);

    }
    100%{
        box-shadow: 0 0 0 rgba(0, 0, 255, .5);
        opacity: 0;
        transform: translateX(50px) scale(1);

    }
}