*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}
body{
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../img/imgbody.jpg);
    background-size: cover;
}
header{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 20px;
    width: 205px;
    height: 50px;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    border-top: 1px solid rgba(255,255,255,0.1);
    border-bottom: 1px solid rgba(255,255,255,0.1);
    border-radius: 30px;
    color: black;
    font-size: 16px;
    backdrop-filter: blur(15px);
}
header:hover{
    font-size: 22px;
    transition: 0.5s;
}
#key{
    color: purple;
    font-weight: bold;
    font-size: 20px;
    transition: 0.5s;
}
.wrapper{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 430px;
    height: 430px;
}

.container{
    position: absolute;
    width: 410px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    border-top: 1px solid rgba(255,255,255,0.1);
    border-bottom: 1px solid rgba(255,255,255,0.1);
    border-radius: 30px;
}
form{
    position: relative;
    width: 100%;
}
.container h3{
    color: #fff;
    font-weight: 600;
    font-size: 1.5em;
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
}
.inputBox{
    position: relative;
    width: 100%;
    margin-bottom: 20px;
}
.inputBox span{
    display: inline-block;
    color: #fff;
    margin-bottom: 35px;
    letter-spacing: 1px;
    font-size: 0.75em;
    border-left: 4px solid #fff;
    padding-left: 4px;
    line-height: 1em;
}
.inputBox .box{
    display: flex;
    justify-content: center;
    align-items: center;
}
textarea{
    position: relative;
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    padding-left: 10px;
    padding-top: 5px;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    border-top: 1px solid rgba(255,255,255,0.1);
    border-bottom: 1px solid rgba(255,255,255,0.1);
    border-radius: 30px;
    backdrop-filter: blur(15px);
}
.inputBox .box .icon{
    position: relative;
    min-width: 40px;
    height: 40px;
    background: #0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-right: 10px;
    color: #2f363e;
    font-size: 1.15em;
    box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.25),
    inset 2px 2px 5px rgba(255, 255, 255, 0.25),
    inset -3px -3px 5px rgba(0, 0, 0, 0.5);
}
.inputBox .box input{
    position: relative;
    width: 100%;
    border: none;
    outline: none;
    padding: 10px 20px;
    border-radius: 30px;
    letter-spacing: 1px;
    font-size: 0.85em;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    border-top: 1px solid rgba(255,255,255,0.1);
    border-bottom: 1px solid rgba(255,255,255,0.1);
    border-radius: 30px;
    backdrop-filter: blur(15px);
}
.inputBox .box input[type="submit"]{
    width: 150px;
    background: #1f83f2;
    box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.25),
    inset 2px 2px 5px rgba(255, 255, 255, 0.35),
    inset -3px -3px 5px rgba(0, 0, 0, 0.5);
    color: #fff;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 14px;
    font-weight: bolder;
    margin-top: 10px;
}
.inputBox .box input[type="submit"]:hover{
    filter: brightness(1.1);
}
select{
    padding: 4px;
    color: gray;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    border-top: 1px solid rgba(255,255,255,0.1);
    border-bottom: 1px solid rgba(255,255,255,0.1);
    border-radius: 30px;
    backdrop-filter: blur(15px);
}
label{
    color: #fff;
    font-size: 0.85em;
    letter-spacing: 1px;
    display: flex;
    align-items: center;
}
label input{
    margin-right: 5px;
}
.forgot{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    letter-spacing: 1px;
    font-size: 0.95em;
    text-decoration: none;
}
.container .btn{
    position: relative;
    width: 245px;
    height: 50px;
    margin: 20px;
}
.container .btn a{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    border-top: 1px solid rgba(255,255,255,0.1);
    border-bottom: 1px solid rgba(255,255,255,0.1);
    border-radius: 30px;
    color: #fff;
    z-index: 1;
    letter-spacing: 1px;
    overflow: hidden;
    transition: 0.5s;
    backdrop-filter: blur(15px);
}
.container .btn:hover a{
    letter-spacing: 3px;
    color: #ff1f71;
}
.container .btn a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: linear-gradient(to left, rgba(255,255,255,0.5),
    transparent);
    transform: skewX(45deg) translateX(0);
    transition: 0.5s;
}

.container .btn:hover a::before{
    transform: skewX(45deg) translateX(200%);
}

.container .btn::before{
    content:'';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -5px;
    width: 100px;
    height: 20px;
    background: red;
    border-radius: 10px;
    transition: 0.5s;
    transition-delay: 0s;
}
.container .btn:hover::before{
    bottom: 0;
    height: 50%;
    width: 80%;
    border-radius: 30px;
    transition-delay: 0.5s;
}

.container .btn::after{
    content:'';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -5px;
    width: 100px;
    height: 20px;
    background: red;
    border-radius: 10px;
    transition: 0.5s;
    transition-delay: 0s;
}
.container .btn:hover::after{
    top: 0;
    height: 50%;
    width: 80%;
    border-radius: 30px;
    transition-delay: 0.5s;
}
.container .btn:nth-child(1):before,
.container .btn:nth-child(1)::after{
    background: cyan;
    box-shadow: 0 0 5px cyan,
    0 0 15px cyan,
    0 0 30px cyan,
    0 0 60px cyan;
}

.container .btn:nth-child(2):before,
.container .btn:nth-child(2)::after{
    background: cyan;
    box-shadow: 0 0 5px cyan,
    0 0 15px cyan,
    0 0 30px cyan,
    0 0 60px cyan;
}
span{
    position: absolute;
    text-align: center;
    bottom: 10px;
    color: yellow;
    font-size: 11px;
}





