@import url('https://fonts.googleapis.com/css2? family= Noto+Serif+Gujarati:wght@100 &family= Open+Sans:ital,wght@1.300 &família= Poppins:wght@200 & display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    min-height: 100vh;
    background: #2f363e;
    display: flex;
    justify-content: center;
}
::-webkit-scrollbar{
    width: 0;
}
#scrollPath{
    position: fixed;
    top: 0;
    right: 0;
    width: 10px;
    height: 100%;
    background: rgba(255,255,255,0.05);
}
#progressbar{
    position: fixed;
    top: 0;
    right: 0;
    width: 10px;
    background: linear-gradient(to top, #008aff,#00ffe7);
    animation: animate 5s linear infinite;
}
@keyframes animate{
    0%,100%{
        filter: hue-rotate(0deg);
    }
    50%{
        filter: hue-rotate(360deg);
    }
}
#progressbar:before{
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #008aff,#00ffe7);
    filter: blur(10px);
}
#progressbar:after{
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #008aff,#00ffe7);
    filter: blur(30px);
}
.box{
    position: relative;
    width: 300px;
    min-height: 50em;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
    border: 1px  rgba(255, 255, 255, 0.5);
    border-right: 1px rgba(255, 255, 255, 0.2);
    border-bottom: 1px rgba(255, 255, 255, 0.2);
    padding: 5px;
    backdrop-filter: blur(25px);
}
.box .list{
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 10px 10px 10px 15px;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin: 10px;
    cursor: pointer;
    transition: 0.5s;
    overflow: hidden;
}
#DivNome{
    position: absolute;
    font-size: 1.3em;
    margin-left: 60px;
}
#DivDev{
    position: absolute;
    display: flex;
    margin-left: 60px;
    bottom: 5px;
    color: purple;
}
.box .list:hover{
    background: #fff;
    box-shadow: -15px 30px 50px rgba(0, 0, 0, 0.5);
    transform: scale(1.15) translateX(5px) translateY(-10px);
}
.box .list .imgBx{
    position: relative;
    width: 50px;
    height: 40px;
    border-radius: 10px;
    overflow: hidden;
    margin-right: 10px;
}
.box .list .imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}