*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}
body{
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../img/imgbody.jpg);
    background-size: cover;
}
header{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 20px;
    width: 205px;
    height: 50px;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    border-top: 1px solid rgba(255,255,255,0.1);
    border-bottom: 1px solid rgba(255,255,255,0.1);
    border-radius: 30px;
    color: yellow;
    font-size: 18px;
    font-weight: bold;
    backdrop-filter: blur(15px);
}
header:hover{
    font-size: 22px;
    transition: 0.5s;
}
#key{
    color: purple;
    font-weight: bold;
    font-size: 20px;
    transition: 0.5s;
}
.wrapper{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 300px;
    height: 300px;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    border-top: 1px solid rgba(255,255,255,0.1);
    border-bottom: 1px solid rgba(255,255,255,0.1);
    border-radius: 30px;
    backdrop-filter: blur(10px);
}
.container{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    height: 80%;
}
h3{
    color: aliceblue;
    font-size: 18px;
    font-weight: bold;
}
.btn{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
    border-top: 1px solid rgba(255,255,255,0.1);
    border-bottom: 1px solid rgba(255,255,255,0.1);
    border-radius: 30px;
    width: 100%;
    height: 45px;
    margin: 5px;
    transition: 0.5s;
    
}
.btn:hover{
    width: 250px;
}
.btn a{
    color: yellow;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    transition: 0.5s;
}
.btn a:hover{
    letter-spacing: 1px;
}
span{
    position: absolute;
    font-size: 12px;
    bottom: 10px;
    color: yellow;
}
